html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

.typ{
    font-weight: bold;
}

.btn {
    background-color: gold;
}

.bi-piggy-bank-fill {
    color: darkslategray;
}

.kafelek {
    position: fixed;
}

@media (max-width: 768px){
    .kafelek {
        position: static;
    }
}